@import 'config';

@font-face {font-family: 'Avenir Next'; src: url("@/assets/fonts/AvenirNext-Regular.ttf") format("truetype"); font-weight: 400; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("@/assets/fonts/AvenirNext-Medium.ttf")  format("truetype"); font-weight: 500; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("@/assets/fonts/AvenirNext-DemiBold.ttf")    format("truetype"); font-weight: 600; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("@/assets/fonts/AvenirNext-Bold.ttf")    format("truetype"); font-weight: 700; font-style: normal; }

a  				{	transition: all 0.233s ease; }
a:hover   { cursor: pointer; color: #2266FF;} 
a:active  { opacity: 0.75 }

.link-inherit {	color: inherit;} 
.link-inherit:hover   { color: #2266FF; cursor: pointer;  svg { path { fill:  #2266FF } } } 

.link {	color: #2266FF !important; svg { path { fill:  #2266FF }} }
.link:hover   { cursor: pointer; text-decoration: underline; } 



.router-link-active {
	 span { color: #2266FF; } 

	&:hover {
		cursor: initial;
	}
}



.input-textarea  {
	    padding-left: 1rem;
	    padding-top: 1rem;
    font-size: .875rem;
    font-weight: 300;
    z-index: 4;
    border: 0;
    background: #F7F7F7;
    width: 100%;
}

.input-description {
	word-break: break-word;
	min-height: 6rem;
	padding-top: 1rem;
}

.input-price {
	display: flex;
	position: relative;

	width: 100%;

	.input-label {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		width: 4rem;

		background: red;

		background: #F7F7F7;
		border-right: 1px solid rgba(0,0,0,0.1);
		border-radius: 0.5rem;

		border-top-right-radius: 0;
    border-bottom-right-radius: 0;

		
		left: 0;
		top: 0;

		z-index: 5
	}

	input  {
		width: 100%; 
		border-top-left-radius: 0;
    border-bottom-left-radius: 0;
		z-index: 4;
	}
}

.input {
	display: block;
	position: relative;

	background: white;
	border: 1px solid rgba(0,0,0,0);

	border-radius: 0.5rem;


	&-text {
		width: 100%;
		height: 3rem;
		
    padding-left: 1rem;
		
		font-size: 1.125rem;
		font-weight: 300;

		z-index: 4;

		&:focus {
			outline: none;
			box-shadow: 0 0 1px 1px rgba(#2266FF,0.33);
		}
	}

	&-textarea {
		min-height: 3rem;	

		resize: vertical;
		height: auto;
	}


	.input-status {
		display: block;
		position: absolute;

		right: 1.5rem;
		top: calc(50% - 0.75rem);

		width: 1.5rem;
		height: 1.5rem;

		border-radius: 1.5rem;

		background: red;

		z-index: 5;
	}
}

.input-small {
	padding: 0.375rem;
	width: 100%;
	height: 2rem;
}

.input-radio-label {
	display: flex;
	width: 100%;
	font-size: 0.875rem;
	background: #f7f7f7;
	border-radius: 0.5rem;
	padding: 1rem;

	.round {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 1.5rem;
		height: 1.5rem;

		border-radius: 10rem;
		background: #D3D3D3;

		margin-right: 1rem;

		div {
			width: 0.5rem;
			height: 0.5rem;

			border-radius: 10rem;
			background: white;

		}
	}
}

.input-text-label {
	width: 100%;

	input, select, textarea {
		display: block;
		position: relative;

		width: 100%;
		// height: 3rem;
		
    padding-left: 1rem;
		
		font-size: 0.875rem;
		font-weight: 300;

		z-index: 4;
		
		border: 0;
		background: #F7F7F7;

		width: 100%;
	}


}

.input-checkbox {
	position: relative;
	width: 1.5rem;
	height: 1.5rem;

	border-radius: 0.5rem;
	overflow: hidden;
	
	img { 
		position: absolute;

		height: 75%;
		width: 75%;

		left: calc(50% - 37.5%);
		top: calc(50% - 37.5%);

		z-index: 2;
	}
	input {
		height: 100%;
		width: 100%;

		margin: 0;

		border: none;
		border-radius: 0.5rem;

		background: white;

		z-index: 1;
	}
}
.button-icon 
.button-icon 				{height: 1rem; width: 1rem; } 
.button-icon-medium {height: 1rem; width: 1rem; background: transparent; img { width: 100%; height: 100%} } 



.button {
	display: flex;
	width: fit-content;
	align-items: center;
	justify-content: center;
	height: 3rem;
	color: white;
	border-radius: 3rem;
	background-color: #2266FF;
	text-transform: uppercase;
	font-size: 0.875rem;
	padding: 0.75rem 1.75rem;
	font-weight: 500;
	letter-spacing: 5%;
	transform: scale(1);
	transition: all 0.33s ease;

	text-align: center;
	img { height: 100%; }
 
	&:hover {
		background: #F7F7F7;
		color: #2266FF;
		opacity: 1;

		cursor: pointer;
	}

	&:active {
		transform: scale(0.95);
	}

	&-close-popup {
		position: absolute;

		right: 0;
		top: 0;

		width: 3rem;
		height: 3rem;

		background: transparent;

		padding: 0;

		border-radius: 0;

		img {
			width: 33%;
		}
	}

	&-delete {
		&:hover {
			background: red;
		}
	}

	&-grey {
		color: $dark;
		background-color: #F7F7F7;
	}

	&-sort {
		height: 2.5rem;

		padding: 0.5rem 1.25rem;

		text-transform: none;
		font-size: 1rem;
		color: $dark;
		background-color: #F7F7F7;
	}

	&-small {
		background: #F7F7F7;
		color: $dark;

		height: 2.5rem;
		min-width: 2.5rem;

		padding: 1rem;
		border-radius: 0.5rem;
		font-size: 1.125rem;
	}

	&-active {
		background: #2266FF;
		color: white;
		&:hover {
			background: #2266FF;
			color: rgba(255,255,255,0.75);

		}
	}

	&-size {
		height: 2.5rem;
		min-width: 2.5rem;

		padding: 1rem;
		border-radius: 0.5rem;
		font-size: 1.125rem;
	}



	
	&-filter {
		height: 2.5rem;

		padding: 0;
		border-radius: 0.5rem;
		font-size: 1.125rem;

		color: $dark;
		background: white;
	}

	&-disabled {
		color: rgba(0,0,0,0.5);

		&:hover {
			color: rgba(0,0,0,0.5);
		}
		&:active {
			pointer-events: none;
			transform: scale(1,1);
		}
	}
	&-active {
		background: #2266FF;
		color: white;
		&:hover {
			background: #2266FF;
			color: rgba(255,255,255,0.75);

		}
	}
	&-reset-filter {
		width: 100%;
		text-transform: uppecase;
		height: 3.75rem;

		background: transparent;
		color: #2266FF;

		border-top: 1px solid rgba(0,0,0,0.1);
		border-bottom: 1px solid rgba(0,0,0,0.1);
		&:hover {
			background: #2266FF;
			color: rgba(255,255,255,0.75);

		}
	}
	

	

	&-icon {
		background: transparent;
		box-shadow: none;
		border-radius: 0;
		padding: 0;

		&:hover {
			cursor: pointer;
		}
	}	
	
	
	&-link      {
		color: rgba(0, 0, 0, 0.5);
		font-size: 1.125rem;
		display: flex;
		align-items: center;
		font-weight: 600;

		&-blue {color: #2495FF;}
		
		&-black{color: rgba(0, 0, 0, 0.5);}
		
		&-cream {color: #DBADAA; text-align: left; font-weight: 600; letter-spacing: 0;}
		
	}

	&-otr-link {
		display: inline-flex;
		margin-top: 0.25rem;
		align-items: center;
		color: #000;

		img { margin-right: 0.5rem;}
	}
	
	&-cart {
		display: inline-flex;
		color: #000;
		height: 3rem;
		width: 3rem;
		font-weight: 700;
		width: fit-content;
		font-size: 1.5rem;
		color: #2266FF;
		background: #FAF7F3;
		text-transform: none;
		padding: 0.75rem 1rem;
		border-radius: 4rem;

		&:hover {
			background: #2266FF;
			color: white;
			opacity: 1;

			cursor: pointer;
		}
	}

	&-cart-big {
		display: inline-flex;
		color: #000;
		font-weight: 700;
		width: fit-content;
		background: #FFE500;
		text-transform: none;
		font-size: 2rme;
		padding: 1.5rem 2rem;
		border-radius: 2rem;
	}

	&-blog {
		padding: 0.75rem 1rem;
		background-color: #2495FF;
		color: #fff;
		border-radius: 0.375rem;
		font-size: 1.125rem;
		text-transform: uppercase;
		width: fit-content;
	}

	&-nav-footer{
		color: #000;
		font-size: 0.875rem;
		font-weight: 700; display: flex;
		align-items: center;
			svg {margin-right: 0.5rem;}}

	&-inst {
		background: radial-gradient(179.06% 43.44% at -16.75% 7.2%, #3771C8 0%, #3771C8 12.8%, rgba(102, 0, 255, 0) 100%),
		radial-gradient(92.18% 99.11% at 26.56% 107.7%, #FFDD55 0%, #FFDD55 10%, #FF543E 50%, #C837AB 100%);
		color: white;
		font-size: 1.125rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0.75rem 0.75rem;
		border-radius: 0.5625rem;
		display: flex;
		align-items: center;
		justify-content: center;
		width: fit-content;
		box-shadow: 4px 4px 24px -12px rgba(201, 163, 163, 0.5);
		img {margin-right: 0.5rem}
	}
}


button:disabled {
	background: grey;

	&:hover {
		background: grey;
	}
}