@import 'config';

@font-face {font-family: 'Avenir Next'; src: url("prometheus/assets/fonts/AvenirNext-Regular.woff") 	format("woff"); font-weight: 400; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("prometheus/assets/fonts/AvenirNext-Medium.woff")  	format("woff"); font-weight: 500; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("prometheus/assets/fonts/AvenirNext-DemiBold.woff")	format("woff"); font-weight: 600; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("prometheus/assets/fonts/AvenirNext-Bold.woff")    	format("woff"); font-weight: 700; font-style: normal; }
@font-face {font-family: 'Avenir Next'; src: url("prometheus/assets/fonts/AvenirNext-Heavy.woff")    	format("woff"); font-weight: 800; font-style: normal; }

// Headers
.tx-extra   { padding: $extra;  }
.tx-big   	{ padding: $big;  	}
.tx-semi  	{ padding: $semi;   } 
.tx-medium  { padding: $medium; }
.tx-regular { padding: $regular;}
.tx-small 	{ padding: $small;  } 
.tx-thin  	{ padding: $thin;   } 
.tx-zero  	{ padding: 0;   		} 
// Font Styles
h1,.h1  { font-weight: 500; font-size: 4.50rem; 	line-height: 1.125; letter-spacing: -0.1rem; 	text-transform: none;				}
h2,.h2  { font-weight: 500; font-size: 3.00rem; 	line-height: 1.125; letter-spacing: -0.0rem;	text-transform: none;				}
h3,.h3  { font-weight: 500; font-size: 2.50rem; 	line-height: 1.125; letter-spacing: -0.0rem;	text-transform: none;				}
h4,.h4  { font-weight: 700; font-size: 1.5rem; 		line-height: 1.125; letter-spacing: +0.0rem; 	text-transform: uppercase;	}
h5,.h5 	{ font-weight: 600; font-size: 1.25rem; 	line-height: 1.125;	letter-spacing: -0.0rem; 	text-transform: none;				}
// Typogragy Styles
		.p-small     	{ font-weight: 400;				font-size: 0.75rem;		line-height: 1.000; }
p, 	.p-medium     { font-weight: 400;				font-size: 1.00rem;		line-height: 1.500	}
		.p-big     		{ font-weight: 400; 			font-size: 1.50rem;		line-height: 1.500;	letter-spacing: +0.0rem;	}

b  { font-weight: 700}

a  				{	transition: all 0.233s ease; }
a:hover   { cursor: pointer; color: #00ff88;} 
a:active  { opacity: 0.75 }

.link-inherit {	color: inherit;} 
.link-inherit:hover   { color: #00ff88; cursor: pointer;  svg { path { fill:  #00ff88 } } } 

.link {	color: #00ff88 !important; svg { path { fill:  #00ff88 }} }
.link:hover   { cursor: pointer; text-decoration: underline; } 

.router-link-active {	span { color: inherit; } &:hover {	cursor: initial; } }
// Text align
.t-left   	{ text-align: left; 	}
.t-center   { text-align: center; }
.t-right  	{ text-align: right; 	}
// Linehegiht
.t-lh-1 		{ line-height: 1}
.t-lh-15 		{ line-height: 1.5}
.t-lh-2 		{ line-height: 2}
// Font weights
.t-bold   	{ font-weight: 900;}
.t-demi   	{ font-weight: 700;}
.t-semi   	{ font-weight: 600;}
.t-medium 	{ font-weight: 500;}
.t-regular 	{ font-weight: 300;}
.t-light  	{ font-weight: 200;}
// Text decoration
.uppercase 				{ text-transform: uppercase;			}
.underline 				{ text-decoration: underline; 		}
.line-through 		{ text-decoration: line-through; }