@import '../config';

.card {
	display: flex;
	position: relative;

	overflow: hidden; 

	flex-direction: column;

	padding: $medium;

	background: white;
	border-radius: $thin;

	box-shadow: 0px 8px 8px -8px rgba($dark,0.1);

	transition: 0.2s;
}